@use './assets/styles/index' as *;

.app {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-primary;
}

.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: $sp-y-95;
  padding: 0 calc($sp-x-33 + $sp-x-42);
  gap: $sp-x-268;

  @media (max-width: 1080px) {
    gap: 0;
  }
  
  &-left, &-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    @media (max-width: 1090px) {
      flex-direction: column;
      gap: $sp-y-7;
    }
    @media (max-width: 765px) {
      gap: 0;
    }
  }

  &-right {
    @media (max-width: 1090px) {
      align-items: flex-end;
      text-align: end;
    }
    .header-item:last-child {
      @include clash-display-medium;

      @media (max-width: 680px) {
        @include clash-display-medium;
      }
    }

    @media (max-width: 680px) {
      .header-item {
        @include clash-display-medium;
      }
    }
  }

  &-item {
    @include clash-display-regular;
    font-size: $fs-20;
    color: $color-text;
    @media (max-width: 765px) {
      font-size: $fs-15;
    }
  }

  &-logo {
    @include reed-headline;
    font-size: $fs-logo;
    color: $color-accent;
    line-height: 39%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $sp-y-127;
  gap: $sp-x-109;
  line-height: 125%;

  &-left, &-right {
    @include clash-display-medium;
    font-size: $fs-15;
    color: $color-text;
    transform: rotate(90deg);
    text-decoration: underline;
  }

  &-right {
    transform: rotate(-90deg);
  }

  &-paragraph {
    @include clash-display-regular;
    font-size: $fs-13;
    color: $color-text;
    text-align: center;
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 125%;

    @media (max-height: 890px) {
      font-size: $fs-14;
    }
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: $sp-y-120;
  padding: 0 $sp-x-42;
  @include clash-display-medium;
  line-height: 120%;

  &-week {
    font-size: $fs-20;
    color: $color-text;
    margin: 0;
  }

  &-left, &-right {
    display: flex;
    font-size: $fs-13;
    flex: 1;
    color: $color-text;
    margin: 0;
    letter-spacing: 0.35em;
    line-height: 125%;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
    text-align: end;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $sp-y-95 $sp-x-95;
  padding: $sp-y-95 $sp-x-109;

  @media (max-width: 1330px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 680px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &-wrapper {
    position: relative;
    display: flex;
    gap: $sp-x-13;
  }

  &-label {
    @include clash-display-medium;
    font-size: $fs-14;
    letter-spacing: 0.03em;
    color: $color-text;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: relative;

    .projects-label-line {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $color-text;
      
      top: 0;
      left: 0;
    }

    .rotated-text {
      margin-left: $sp-x-7;
      white-space: nowrap;
      writing-mode: vertical-rl;
      -moz-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
      transform: scale(-1, -1);
      text-orientation: mixed;
    }
  }

  &-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.lazy-image {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    will-change: transform;
    transform: translateZ(0);
  }

  &-placeholder, &-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
  }

  &-placeholder {
    filter: blur(10px);
    transform: scale(1.05);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  &-main {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    
    &.loaded {
      opacity: 1;
    }
  }
}

:root {
  --sp-firstgrid: #{$sp-y-95};
  --sp-nextgrids: #{$sp-y-127};
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-text;
  margin-bottom: $sp-y-45;
  gap: $sp-y-7;

  &-link {
    font-size: $fs-15;
    color: $color-text;
    text-decoration: underline;
    line-height: 125%;
    letter-spacing: 0.03em;
  }

  &-paragraph {
    font-size: $fs-15;

    @media (max-width: 765px) {
      font-size: $fs-15;
    }
  }
}
