@use './assets/styles/index' as *;

.app {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: $sp-y-95;
  padding: 0 calc($sp-x-33 + $sp-x-42);
  gap: $sp-x-268;

  @media (max-width: 880px) {
    gap: 0; // Set gap to 0 at 880px
  }
  
  &-left, &-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    @media (max-width: 1090px) {
      flex-direction: column;
      gap: $sp-y-7;
    }
  }

  &-right {
    @media (max-width: 1090px) {
      align-items: flex-end;
      text-align: end;
    }
  }

  &-item {
    @include clash-display-regular;
    font-size: $fs-20;
    color: $color-text;
  }

  &-logo {
    @include reed-headline;
    font-size: $fs-logo;
    color: $color-accent;
    line-height: 39%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $sp-y-127; // Converted to vertical spacing
  gap: $sp-x-109;
  line-height: 125%;

  &-left, &-right {
    @include clash-display-medium;
    font-size: $fs-15;
    color: $color-text;
    transform: rotate(90deg);
    text-decoration: underline;
  }

  &-right {
    transform: rotate(-90deg);
  }

  &-paragraph {
    @include clash-display-regular;
    font-size: $fs-12;
    color: $color-text;
    text-align: center;
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 125%;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: $sp-y-120;
  padding: 0 $sp-x-42;
  @include clash-display-medium;
  line-height: 125%;


  &-week {
    font-size: $fs-20;
    color: $color-text;
    margin: 0;
  }

  &-left, &-right {
    display: flex;
    font-size: $fs-13;
    flex: 1;
    color: $color-text;
    margin: 0;
    letter-spacing: 0.35em;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $sp-y-95 $sp-x-42;
  padding: $sp-y-95 $sp-x-109;

  @media (max-width: 1330px) {
    grid-template-columns: repeat(2, 1fr); // Change to 2 columns at 1330px
  }

  @media (max-width: 680px) {
    grid-template-columns: repeat(1, 1fr); // Change to 1 column at 680px
  }

  &-wrapper {
    position: relative;
    display: flex;
    gap: $sp-x-13;
  }

  &-label {
    @include clash-display-medium;
    font-size: $fs-14;
    letter-spacing: 0.03em;
    color: $color-text;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: relative; // Set position to relative

    .projects-label-line {
      position: absolute; // Set position to absolute
      width: 1px;
      height: 100%;
      background-color: $color-text;
      
      top: 0; // Adjust positioning as needed
      left: 0; // Adjust positioning as needed
    }

    .rotated-text {
      transform: rotate(-90deg);
      transform-origin: right bottom;
      margin-left: $sp-x-7;
      white-space: nowrap;
    }
  }

  &-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.lazy-image {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  &-placeholder, &-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  &-placeholder {
    filter: blur(10px);
    transform: scale(1.05);
    opacity: 1;
  }

  &-main {
    opacity: 0;
  }

  &-visible {
    opacity: 1;
  }

  &-hidden {
    opacity: 0;
  }
}

:root {
  --sp-firstgrid: #{$sp-y-95};
  --sp-nextgrids: #{$sp-y-127};
}