@use './assets/styles/index' as *;

.app {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: $sp-95;
  padding: 0 calc(#{$sp-33 + $sp-42});
  gap: $sp-268;
  
  &-left, &-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &-item {
    @include clash-display-regular;
    font-size: $fs-20;
    color: $color-text;
  }

  &-logo {
    @include reed-headline;
    font-size: $fs-logo;
    color: $color-accent;
    line-height: 39%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $sp-127;
  gap: $sp-109;
  line-height: 125%;

  &-left, &-right {
    @include clash-display-medium;
    font-size: $fs-13;
    color: $color-text;
    transform: rotate(90deg);
    text-decoration: underline;
  }

  &-right {
    transform: rotate(-90deg);
  }

  &-paragraph {
    @include clash-display-regular;
    font-size: $fs-12;
    color: $color-text;
    text-align: center;
    margin: 0;
    letter-spacing: 0.03em;
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: $sp-120;
  padding: 0 $sp-42;
  @include clash-display-medium;
  line-height: 125%;


  &-week {
    font-size: $fs-20;
    color: $color-text;
    margin: 0;
  }

  &-left, &-right {
    display: flex;
    font-size: $fs-13;
    flex: 1;
    color: $color-text;
    margin: 0;
    letter-spacing: 0.35em;
  }
  &-right {
    justify-content: flex-end;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $sp-109;
  padding: $sp-95 $sp-109;

  &__wrapper {
    position: relative;
    display: flex;
    gap: $sp-33;
  }

  &__frame-label {
    @include clash-display-regular;
    writing-mode: sideways-lr;
    // transform: rotate(180deg);
    text-align: end;
    font-size: $fs-12;
    color: $color-text;
  }

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: cover;
    }
  }
}