@use './assets/styles/index' as *;
@use './assets/fonts/fonts' as *;
@use './assets/styles/_variables' as *; // Import the variables

:root {
  @include clash-display-regular;
  line-height: 100%;

  color: $color-text;
  background-color: $color-bg-primary;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100svh;
  overflow: clip;
}

* {
  box-sizing: border-box;
  pointer-events: none;
}

a {
  text-decoration: none;
  pointer-events: auto;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}