// Colors
$color-bg-primary: #181418;
// $color-bg-1: #181418;
// $color-bg-2: #1C181C;  
// $color-bg-3: #211D21;  
// $color-bg-4: #252025;  
// $color-bg-5: #2A242A;  
// $color-bg-6: #2E282E;  
// $color-bg-7: #332C33;  
// $color-bg-8: #373037;  
// $color-bg-9: #3C343C;  
// $color-bg-10: #403840;  
$color-text: #E3D7CC;
$color-accent: #8CA8B4;

// Spacing
$sp-33: 33px;
$sp-42: 42px;
$sp-95: 95px;
$sp-109: 109px;
$sp-120: 120px;
$sp-127: 127px;
$sp-268: 268px;

// Typography
$fs-12: 12px;
$fs-13: 13px;
$fs-15: 15px;
$fs-20: 20px;
$fs-logo: 128px;