// Colors
$color-bg-primary: #181418;
$color-text: #E3D7CC;
$color-accent: #8CA8B4;

// Spacing
$spacing-xs: 33px;
$spacing-sm: 42px;
$spacing-md: 95px;
$spacing-lg: 120px;
$spacing-xl: 127px;


// Typography
$font-size-xsm: 12px;
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-header: 20px;
$font-size-logo: 128px;
