// Colors
$color-bg-primary: #181418;

$color-text: #E3D7CC;
$color-accent: #8CA8B4;

// Spacing
$sp-7: 7px;
$sp-13: 13px;
$sp-33: 33px;
$sp-42: 42px;
$sp-95: 95px;
$sp-109: 109px;
$sp-120: 120px;
$sp-127: 127px;
$sp-268: 268px;

// Typography
$fs-12: 12px;
$fs-13: 13px;
$fs-15: 15px;
$fs-20: 20px;
$fs-logo: 128px;

